@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

:root {
    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Poppins', sans-serif;
    --cor-gradiente: linear-gradient(to right, #10E64A, #10ACE6);
    --cor-verde-agua: #10E692;
    --cor-verde: #10E64A;
    --cor-azul-bebe-claro: #46EBE2;
    --cor-azul-bebe-escuro: #10E6DB;
    --cor-azul: #10ACE6;
    --cor-azul-escuro: #1069E6; 
}
