@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

:root {
    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Poppins', sans-serif;
    --cor-verde-agua: #10E692;
    --cor-verde: #10E64A;
    --cor-azul-bebe-claro: #46EBE2;
    --cor-azul-bebe-escuro: #10E6DB;
    --cor-azul: #10ACE6;
    --cor-azul-escuro: #1069E6;
    --cor-cinza: #393939;
}

/* IMPORTANTE!!!
Para usarem a cor gradiente nos textos usem essa formatação:
    background: linear-gradient(to right, var(--cor-verde) %escolhida, var(--cor-azul) %escolhida);
    -webkit-background-clip: text; -> Isso faz com que a mudança de cor se "clipe" somente ao texto, tirem isso e testem pra entender o funcionamento
    -webkit-text-fill-color: transparent; -> Isso deixa o texto transparente, assim o background preencherá toda a cor do texto, o que da esse efeito de "pintando"*/

body {
    height: 5000px;
}

header {
    padding: 1.5% 4% 1.5% 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(227, 227, 227, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.8s ease-in-out;
}

header.hide {
    top: -100%;
}

.header_nav_list {
    display: flex;
    gap: 34px;
    font-family: var(--fonte-principal);
    font-size: 1.375rem;
}

li {
    background: linear-gradient(to right, var(--cor-azul) 50%, var(--cor-cinza) 50%);
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.5s ease-in-out;
}

li:hover {
    background-position: 0%;
}

i#burguer {
    display: none;
}

#section-problema {
    padding: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.problema_artigo {
    display: flex;
    align-items: center;
    gap: 50px;
}

.titulo {
    font-family: var(--fonte-principal);
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--cor-verde) 0%, var(--cor-azul) 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titulo_problema {
    margin-bottom: 20px;
}


.titulo_explicacao {
        font-family: var(--fonte-secundaria);
        font-size: 1.375rem;
        font-weight: light;
        color: var(--cor-cinza);
        width: 100%;
        margin: 0 auto;
        text-align: justify;
}

.explicacao_problema {
    max-width: 642px;
}

.problema_fontes {
    font-family: var(--fonte-secundaria);
    font-size: .875rem;
    font-weight: normal;
    letter-spacing: 2px;
}

.problema_fontes_fontes {
    text-decoration: underline;
    font-weight: 100;
    color: var(--cor-azul-escuro);
}

#section-tecnologias {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
}

.tecnologias_artigo {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.tecnologias {
    background: linear-gradient(to right, var(--cor-verde) 0%, var(--cor-azul) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.subtitulo_lixeira {
    color: var(--cor-verde);
}

.subtitulo_mapeamento {
    color: var(--cor-azul);
}

.explicacao_tecnologias {
    max-width: 462px;
}

.tecnologias_artigo_lixeira {
    margin-right: 150px;
}

.tecnologias_artigo_mapeamento {
    margin-left: 150px;
}

@media screen and (max-width: 1250px) {
    i#burguer {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-right: 40px;
    }
    .header_nav_list {
        display: none;
    }
}